.App {
  text-align: center;
}

.input {
  margin: 1rem;
}

.dash {
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  flex-direction: column;
}

.room-btn {
  margin: 0.1rem;
  width: 15rem;
}

.container {
  display: flex;
  flex-direction: column;
  height: 500px;
  max-height: 500px;
  overflow: auto;
  width: 400px;
  border: 1px solid lightgray;
  border-radius: 10px;
  padding-bottom: 10px;
  margin-top: 25px;
  color: white;
}

.bubble {
  width: 98%;
  display: flex;
  flex-direction: column;
  margin: 4px;
}

.textarea {
  width: 400px;
  height: 100px;
  border-radius: 10px;
  margin-top: 10px;
  padding-left: 10px;
  padding-top: 10px;
  font-size: 17px;
  background-color: transparent;
  border: 1px solid lightgray;
  outline: none;
  color: lightgray;
  letter-spacing: 1px;
  line-height: 20px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
